ALTER TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty] DROP CONSTRAINT [FK_ECRMBO_KK]
GO
ALTER TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty] DROP CONSTRAINT [FK_ECRMBO_ECBO]
GO
ALTER TABLE [CDN].[el_CRMBranzeOpisy] DROP CONSTRAINT [FK_ECBO_SLW]
GO
ALTER TABLE [CDN].[el_CRMBranzeOpisy] DROP CONSTRAINT [UK_branzaID_Opis]
GO
DROP TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty]
GO
DROP TABLE [CDN].[el_CRMBranzeOpisy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[el_CRMBranzeOpisy](
	[ElBranOpisID] [int] IDENTITY(1,1) NOT NULL,
	[branzaID] [int] NOT NULL,
	[Opis] [varchar](150) NULL,
 CONSTRAINT [PK_ElBranOpisID] PRIMARY KEY CLUSTERED 
(
	[ElBranOpisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty](
	[Knt_Karty_GIDNumer] [int] NOT NULL,
	[el_CRMBranzeOpisy_ElBranOpisID] [int] NOT NULL,
 CONSTRAINT [el_BraKntKart_Primary] PRIMARY KEY CLUSTERED 
(
	[Knt_Karty_GIDNumer] ASC,
	[el_CRMBranzeOpisy_ElBranOpisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [CDN].[el_CRMBranzeOpisy] ON 

INSERT [CDN].[el_CRMBranzeOpisy] ([ElBranOpisID], [branzaID], [Opis]) VALUES (62, 1504, N'Firmy handlu hurtowego i detalicznego kupujące towar w CT ELTECH do dalszej odsprzedaży')
INSERT [CDN].[el_CRMBranzeOpisy] ([ElBranOpisID], [branzaID], [Opis]) VALUES (79, 1505, N'Przemysł elektrotechniczny: fabryki kabli, transformatorów, tranzystorów, układów scalonych, żarówek, itp.')
INSERT [CDN].[el_CRMBranzeOpisy] ([ElBranOpisID], [branzaID], [Opis]) VALUES (80, 1505, N'Przemysł instalacyjno-grzewczy, producenci hydrauliki')
SET IDENTITY_INSERT [CDN].[el_CRMBranzeOpisy] OFF
SET ANSI_PADDING ON
GO
ALTER TABLE [CDN].[el_CRMBranzeOpisy] ADD  CONSTRAINT [UK_branzaID_Opis] UNIQUE NONCLUSTERED 
(
	[branzaID] ASC,
	[Opis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [CDN].[el_CRMBranzeOpisy]  WITH CHECK ADD  CONSTRAINT [FK_ECBO_SLW] FOREIGN KEY([branzaID])
REFERENCES [CDN].[Slowniki] ([SLW_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[el_CRMBranzeOpisy] CHECK CONSTRAINT [FK_ECBO_SLW]
GO
ALTER TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty]  WITH CHECK ADD  CONSTRAINT [FK_ECRMBO_ECBO] FOREIGN KEY([el_CRMBranzeOpisy_ElBranOpisID])
REFERENCES [CDN].[el_CRMBranzeOpisy] ([ElBranOpisID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty] CHECK CONSTRAINT [FK_ECRMBO_ECBO]
GO
ALTER TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty]  WITH CHECK ADD  CONSTRAINT [FK_ECRMBO_KK] FOREIGN KEY([Knt_Karty_GIDNumer])
REFERENCES [CDN].[KntKarty] ([Knt_GIDNumer])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [CDN].[ISK_el_CRMBranzeOpisy_KntKarty] CHECK CONSTRAINT [FK_ECRMBO_KK]
GO
